/* Colors used :
Wallpaper : purple #9D76D6 , black #001220
Table : white, purple #9D76D6
Add Button : blue #0012DD
Done Button :  green #00A500
Delete Button : red
*/

/* Animation for error message */
@keyframes hrz-shaking {
    0% {transform: translateX(0)}
    15% {transform: translateX(-5px)}
    30% {transform: translateX(5px)}
    45% {transform: translateX(-5px)}
    60% {transform: translateX(5px)}
    75% {transform: translateX(-5px)}
    100% {transform: translateX(0)}
}

/* body tag */
body {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    /* height: 100vh; */
    background-image: url("wallpaper1.svg");
    background-size: cover;
    /* background-color: rgb(19, 0, 49); */
    /* background-image: radial-gradient(at 100% 100%, hsla(273,85%,83%,1) 0px, transparent 50%), radial-gradient(at 0% 0%, hsla(273,85%,83%,1) 0px, transparent 50%); */
    background-repeat: no-repeat;
}

/* Title */
h1 {
    font-size: 100px;
    font-family: "Signika Negative", sans-serif;
    color: white;
}

/* Error message */
h4 {
    font-size: 20px;
    font-family: "Signika Negative", sans-serif;
}

/* input field */
#task {
    width: 250px;
    height: 30px;
    font-size: 20px;
    font-family: "Signika Negative", sans-serif;
    padding: 0 10px 0 10px;
    margin: 0 0 10px 0;
    background-color: rgb(255, 255, 255, 0.5);
    border-bottom: 5px solid blue;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}

/* input field placeholder */
#task::placeholder {
    color: rgb(96, 96, 96)
}

button {
    border-radius: 5px;
}

/* Add to list button */
#addbtn {
    background-color: #0012DD;
    color: white;
    font-weight: bold;
    outline: none;
    border: 1px solid #0012DD;
    width: 100px;
    height: 30px;
    margin: 0px 0px 0px 10px;
}

/* Add to list button hover */
#addbtn:hover {
    background-color: rgb(4, 11, 98);
    border-color: rgb(4, 11, 98);
    cursor: pointer;
    transition: 0.5s;
}

/* wrapper div to enable scrolling the table */
#wrapper1 {
    height: 300px;
    width: fit-content;
    overflow: auto;
    margin: auto;
}

/* Style the scrollbar
::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
}

/* Handle */
/* ::-webkit-scrollbar-thumb {
    background-color: #000;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
} */

/* Button */
/* ::-webkit-scrollbar-button {
    background-color: #f5f5f5;
} */

/* Button on hover */
/* ::-webkit-scrollbar-button:hover {
    background-color: #ccc;
} */

/* Track */
/* ::-webkit-scrollbar-track {
    background-color: #f5f5f5;
} */

/* Arrows */
/* ::-webkit-scrollbar-corner {
    background-color: #f5f5f5;
} */

/* The tasks table */
#myList {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 500px;
    margin: auto;
    font-family: "Signika Negative", sans-serif;
    background-color: white;
    border-collapse: collapse;
    overflow: auto;
}

/* head cells of the table */
#myList th {
    border: 1px solid black;
    padding: 10px;
    font-size: 20px;
    height: 30px;
    background-color: #9D76D6;
    color: white;
}

/* cells of the table */
#myList td {
    border: 1px solid black;
    padding: 10px;
    font-size: 20px;
    height: 30px;
}

#myList tr:hover {
    background-color: rgb(214, 214, 214);
    transition: 0.5s;
}

/* the task cell */
#todocell {
    width: 250px;
}

/* the actions cell */
#actcell {
    width: 100px;
}

/* Delete button */
#delbtn {
    background-color: red;
    color: white;
    outline: none;
    margin: auto;
    text-align: center;
    font-size: 20px;
    font-family: "Signika Negative", sans-serif;
}

/* Delete button hover */
#delbtn:hover {
    background-color: rgb(180, 0, 0);
    cursor: pointer;
    transition: 0.5s;
}

/* Done button */
#donbtn {
    background-color: #00A500;
    color: white;
    outline: none;
    margin: auto;
    text-align: center;
    font-size: 20px;
    font-family: "Signika Negative", sans-serif;
}

/* Done button hover */
#donbtn:hover {
    background-color: rgb(4, 83, 4);
    cursor: pointer;
    transition: 0.5s;
}

/* Error message */
#err {
    visibility: hidden;
    color: red;
    width: fit-content;
    margin: auto;
}

/* Done task */
del {
    color: grey;
}

@media (max-width:1023px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        margin: 0;
        background-image: url("wallpaper3.svg");
    }

    h1 {
        font-size: 4em;
        margin-top: 3em;
    }

    #wrapper1 {
        height: 400px;
    }

    #myList {
        margin: 1.5em;
    }

    #myList th,
    #myList td {
        border: 1px solid black;
        padding: 0.5em;
        font-size: 1em;
    }

    #myList tr:hover {
        background-color: white;
    }

    #todocell {
        width: 200px;
    }

    #actcell {
        width: 100px;
    }

    #delbtn {
        background-color: red;
        color: white;
        outline: none;
        margin: auto;
        text-align: center;
        font-size: 1em;
    }

    #delbtn:hover {
        background-color: rgb(180, 0, 0);
        cursor: pointer;
        transition: 0.5s;
    }

    #donbtn {
        background-color: #00A500;
        color: white;
        outline: none;
        margin: auto;
        text-align: center;
        font-size: 1em;
    }
}